# Baseline Portfolio

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:

base_port = pd.read_csv(
    "data/config/20220907_baseline_price_components_data.csv",
    index_col = "Date",
    parse_dates=True
)

base_port

,A,AAPL,ABC,ABT,ADBE,ADI,ADM,ADP,ADSK,AEE,...,NWN,PRGO,RGP,SBCF,SHBI,UGI,WAFD,FORR,FRT,WABC
Date,,,,,,,,,,,,,,,,,,,,,
2006-09-28,20.220015,2.348343,17.545702,15.924474,38.330002,19.842480,25.685213,25.313112,34.529999,27.282803,...,22.555159,14.726097,18.587454,142.012787,21.780539,10.325500,15.254732,21.796356,44.546612,31.957037
2006-09-29,20.042217,2.347428,17.623684,16.000259,37.459999,19.635372,25.835249,25.217215,34.779999,27.001497,...,22.249292,14.631257,18.429232,135.378357,21.444868,10.187994,15.173594,21.176586,44.207462,31.588058
2006-10-02,19.815372,2.282780,17.631483,15.894820,37.000000,19.588602,25.951208,25.057405,33.520000,27.011713,...,22.232300,14.553657,18.690634,129.909439,20.795927,10.192159,15.153305,21.804401,43.713627,31.212835
2006-10-03,19.766321,2.258995,17.647081,15.687233,36.750000,19.468348,25.241886,25.398340,33.290001,26.873619,...,22.300268,14.795074,18.938282,127.309456,20.661669,10.204659,15.031600,21.957333,44.165813,31.050226
2006-10-04,20.256805,2.298637,17.943398,15.532376,37.759998,19.795715,25.269163,25.408991,34.119999,26.945225,...,22.719433,14.907149,19.412949,128.071518,21.288231,10.212996,15.253399,22.609297,44.820309,31.281628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-30,128.279999,158.910004,145.429993,102.199997,375.070007,152.729996,87.570000,244.533340,202.809998,92.747398,...,48.130001,37.676384,19.870001,32.623150,19.270000,39.141705,32.700001,41.259998,102.720001,56.330002
2022-08-31,128.250000,157.220001,146.559998,102.650002,373.440002,151.529999,87.889999,243.358429,201.740005,92.031975,...,47.610001,37.159996,19.540001,32.145741,19.049999,39.131798,32.009998,41.590000,101.269997,55.950001
2022-09-01,128.929993,157.960007,147.610001,104.839996,370.529999,150.690002,87.580002,244.901764,201.949997,93.264099,...,47.669998,36.779999,19.639999,32.215363,18.889999,38.715714,31.830000,41.009998,101.290001,55.540001
2022-09-02,128.009995,155.809998,147.710007,102.500000,368.140015,148.630005,87.610001,237.453934,198.690002,92.340004,...,47.490002,36.740002,19.389999,32.105953,18.690001,38.676086,31.530001,39.799999,100.769997,55.490002
2022-09-06,129.300003,154.529999,146.020004,102.709999,368.299988,148.229996,85.699997,237.115402,198.179993,92.220001,...,48.290001,37.950001,19.530001,31.280432,18.450001,38.210468,30.889999,40.139999,103.190002,54.689999

In [6]:
quotemedia_tickers = pd.read_csv("data/QUOTEMEDIA_TICKERS.csv")

In [7]:
quotemedia_tickers

        ticker  exchange                                   company_name
0      BIOA_WS      NYSE      BioAmber Inc. Warrant expiring May 9 2017
1       CDE_WS      NYSE                Coeur D'Alene Mines Corporation
2         FINQ    NASDAQ                Purefunds Solactive FinTech ETF
3         IMED    NASDAQ                  PureFunds ETFx HealthTech ETF
4        CVETV    NASDAQ                                  Covetrus Inc.
...        ...       ...                                            ...
20098    LATGW    NASDAQ                      LatAmGrowth SPAC Warrants
20099    ASCAR    NASDAQ               A SPAC I Acquisition Corp. Right
20100     AREN  NYSE MKT                  The Arena Group Holdings Inc.
20101     DUOT    NASDAQ  Duos Technologies Group Inc - Ordinary Shares
20102      GGR    NASDAQ                                    Gogoro Inc.

[20103 rows x 3 columns]

In [8]:
base_tickers = pd.read_csv(
    "data/config/baseline_constituents.csv",    
)

base_tickers

    ticker  index
0      AVA   ^RUA
1     BBBY   ^RUA
2     CAKE   ^RUA
3      CIR   ^RUA
4      FBC   ^RUA
..     ...    ...
464    XEL  ^GSPC
465    XOM  ^GSPC
466    YUM  ^GSPC
467    ZBH  ^GSPC
468   ZION  ^GSPC

[469 rows x 2 columns]

In [11]:
baseline_companies = quotemedia_tickers.merge(base_tickers, on="ticker", how="inner")

In [12]:
baseline_companies

    ticker exchange                 company_name  index
0      AKR     NYSE          Acadia Realty Trust   ^RUA
1      ALE     NYSE                  Allete Inc.   ^RUA
2       MO     NYSE            Altria Group Inc.  ^GSPC
3      EIX     NYSE         Edison International  ^GSPC
4     AMZN   NASDAQ              Amazon.com Inc.  ^GSPC
..     ...      ...                          ...    ...
463    NWL     NYSE           Newell Brands Inc.  ^GSPC
464     PH     NYSE  Parker-Hannifin Corporation  ^GSPC
465   PDCO   NASDAQ     Patterson Companies Inc.   ^RUA
466   PAYX   NASDAQ                 Paychex Inc.  ^GSPC
467    PKI     NYSE             PerkinElmer Inc.  ^GSPC

[468 rows x 4 columns]

In [13]:
baseline_companies.groupby(["exchange"]).count()

          ticker  company_name  index
exchange
NASDAQ       133           133    133
NYSE         332           332    332
NYSE MKT       3             3      3

In [17]:
set(baseline_companies["ticker"]).symmetric_difference(set(base_tickers["ticker"]))

{'BF-B'}

In [29]:
#BF-B on Yahoo! API is BF_B for QuoteMedia (Paid Subscription on `nasdaqdatalink`)
#Manually add
bfb = pd.DataFrame(
    {
        "ticker": "BF-B",
        "exchange": "NYSE",
        "company_name": "Brown Forman Inc Class B",
        "index": "^GSPC"
    },
    index=np.array([468])
)

In [30]:
pd.concat([baseline_companies, bfb])

    ticker exchange                 company_name  index
0      AKR     NYSE          Acadia Realty Trust   ^RUA
1      ALE     NYSE                  Allete Inc.   ^RUA
2       MO     NYSE            Altria Group Inc.  ^GSPC
3      EIX     NYSE         Edison International  ^GSPC
4     AMZN   NASDAQ              Amazon.com Inc.  ^GSPC
..     ...      ...                          ...    ...
464     PH     NYSE  Parker-Hannifin Corporation  ^GSPC
465   PDCO   NASDAQ     Patterson Companies Inc.   ^RUA
466   PAYX   NASDAQ                 Paychex Inc.  ^GSPC
467    PKI     NYSE             PerkinElmer Inc.  ^GSPC
468   BF-B     NYSE     Brown Forman Inc Class B  ^GSPC

[469 rows x 4 columns]

In [31]:
baseline_companies.to_csv(
    "data/config/baseline_companies.csv",
    index=False
)